# Tipos de Datos

Tipos de Datos en Pandas, tomando en cuenta la capacidad de soportar vaalores nulos.

**float:** Tipo de dato flotante en Numpy y puede contener valores decimales. Soporta datos nulos (NaN)

**int:** Es el tipo de dato número entero de NumPy y no soporta nulos.

**object** Es el tipo de dato de objeto de Numpy y se utiliza para representar texto o cualquier objeto de Python. Es versátil pero no es la elección óptima cuando se trata de datos numéricos o categóricos.

**category:** Es untipo de dato introducido por Pandas específicamente diseñado para variables categóricas. Puede ayudar a ahorrar memoria y acelerar ciertas operaciones cuando trabajas con un conjunto de categorías limitado.

**bool:** Es el tipo de dato booleano de Numpy y no soporta datos nulos.

**boolean:** Es untipo de dato booleano introducido por pandas que puede manejar datos nulos.

**datetime64:** Es el tipo de dato de fecha y hora de Numpy y no soporta datos nulos.

### Crear Datos

Crear una Serie

In [1]:
import pandas as pd

serie=pd.Series(['Pedro', 'Maria','Juan'])
serie

0    Pedro
1    Maria
2     Juan
dtype: object

Indexa la serie:0,1,2

Dice los valores: Pedro...

Define el tipo de dato: Object

In [2]:
serie.index

RangeIndex(start=0, stop=3, step=1)

RangeIndex: que es un rango.

Empieza en 0.

Termina en 3, por lo tanto indice 2 (Recuerda que empieza en 0)

Y va de 1 en 1 (step)

In [3]:
serie.values

array(['Pedro', 'Maria', 'Juan'], dtype=object)

Lo devuelve como un objeto de Numpy

Devuelve el tipo de objeto

### Definir uno mismo el Indice

Desde una **Lista Propia**

In [4]:
indice = list(range(20,31,2))
print('Esto es el indice: ', indice)

valores = ['Pedro', 'María', 'Juan', 'Fran', 'Victor', 'Jose']
print('Estos son los valores: ',valores)

#Cómo los uno?
indice_propio= pd.Series(valores, index=indice)

Esto es el indice:  [20, 22, 24, 26, 28, 30]
Estos son los valores:  ['Pedro', 'María', 'Juan', 'Fran', 'Victor', 'Jose']

In [5]:
indice_propio

20     Pedro
22     María
24      Juan
26      Fran
28    Victor
30      Jose
dtype: object

Desde un **Diccionario**

Crea el diccionario de las listas anteriores

In [6]:
# Con el método ZIP.
diccionario = dict(zip(indice, valores))
diccionario

{20: 'Pedro', 22: 'María', 24: 'Juan', 26: 'Fran', 28: 'Victor', 30: 'Jose'}

In [7]:
# Otro ejemplo de como crearlo con un list comprehension, como recordatorio.
diccionario_comprehension = {indice[i]: valores[i] for i in range(len(indice))}
print(diccionario_comprehension)

{20: 'Pedro', 22: 'María', 24: 'Juan', 26: 'Fran', 28: 'Victor', 30: 'Jose'}

In [8]:
serie_dict = pd.Series(diccionario)
serie_dict

20     Pedro
22     María
24      Juan
26      Fran
28    Victor
30      Jose
dtype: object

Desde un **Array de NumPy**

In [9]:
import numpy as np
np_array = np.array(valores)
array_de_numpy = pd.Series(np_array)
array_de_numpy

0     Pedro
1     María
2      Juan
3      Fran
4    Victor
5      Jose
dtype: object

ahora al reves de **Pandas** a **Numpy**

In [10]:
a_numpy = array_de_numpy.to_numpy()
print(a_numpy)
print(type(a_numpy))
print(type(array_de_numpy))

['Pedro' 'María' 'Juan' 'Fran' 'Victor' 'Jose']
<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

### Crear un DataFrame de una Serie

In [11]:
array_de_numpy.to_frame()

        0
0   Pedro
1   María
2    Juan
3    Fran
4  Victor
5    Jose

### Atributos de una Serie

In [12]:
indice_propio

20     Pedro
22     María
24      Juan
26      Fran
28    Victor
30      Jose
dtype: object

In [13]:
# Devuelve el tipo de datos de los elementos en la Serie
indice_propio.dtype

dtype('O')

In [14]:
# Devuelve el número total de elementos de la Serie.
indice_propio.size

6

In [15]:
# Proporciona la forma (número de filas y columnas) de la Serie como una tupla.
indice_propio.shape

(6,)

In [16]:
# Muestra la información sobre el índice de la Serie, incluyendo sus etiquetas y tipo de índice.
print(serie.index)
print(serie)

RangeIndex(start=0, stop=3, step=1)
0    Pedro
1    Maria
2     Juan
dtype: object

# Crear Un DataFrame

desde un **Diccionario**

In [18]:
dicc1= {'nombre': ['Pedro', 'Maria', 'Juan'], 'edad': [30, 40, 50]}
print('Este es el diccionario: \n\n', pd.Series(dicc1))

df_dicc= pd.DataFrame(dicc1,['10','20','30']) #No hace falta ponerle indice si no quiero
print('\n\nEste es el diccionario en DataFrame:\n\n', df_dicc)

Este es el diccionario:

 nombre    [Pedro, Maria, Juan]
edad              [30, 40, 50]
dtype: object


Este es el diccionario en DataFrame:

    nombre  edad
10  Pedro    30
20  Maria    40
30   Juan    50

In [19]:
df_dicc

   nombre  edad
10  Pedro    30
20  Maria    40
30   Juan    50

Desde **Listas** de **Listas**

In [20]:
datos_df = [['Pedro', 30],['Maria',40],['Juan',50]]
columnas_df = ['nombre', 'edad']
indice_df = [10,20,30]

lists_df= pd.DataFrame(data=datos_df, columns=columnas_df, index=indice_df)
lists_df

   nombre  edad
10  Pedro    30
20  Maria    40
30   Juan    50

De una **Array 2D**

In [21]:
array_2d= np.array([['Pedro', 'Maria', 'Juam'], [30,40,50]])
array_data= pd.DataFrame(array_2d, index= ['f1','f2'], columns=['c1','c2','c3'])
array_data

       c1     c2    c3
f1  Pedro  Maria  Juam
f2     30     40    50

In [22]:
array_2d

array([['Pedro', 'Maria', 'Juam'],
       ['30', '40', '50']], dtype='<U21')

In [23]:
array_data.to_numpy()

array([['Pedro', 'Maria', 'Juam'],
       ['30', '40', '50']], dtype=object)

De **DataFrame** a **Series**

In [24]:
array_data

       c1     c2    c3
f1  Pedro  Maria  Juam
f2     30     40    50

In [25]:
# Devuelve una Series
array_data.c1

f1    Pedro
f2       30
Name: c1, dtype: object

In [26]:
type(array_data.c1)

pandas.core.series.Series

In [27]:
# Devuelve una Series
array_data['c1']

f1    Pedro
f2       30
Name: c1, dtype: object

In [28]:
type(array_data['c1'])

pandas.core.series.Series

In [29]:
# Si pongo dos corchetes me devuelve un DataFrame
type(array_data[['c1']])

pandas.core.frame.DataFrame